/* 首页样式表 */
main {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    padding-top: 0;
    width: 100%;
    max-width: 1320px;
}

/* @media screen and (min-width: 1400px) {
    .main {
        max-width: 1320px;
    }
} */

/* @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .main {
        max-width: 1140px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .main {
        max-width: 960px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .main {
        max-width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .main {
        max-width: 540px;
    }
} */


/* 轮播图 */
.shuffling-figure {
    position: relative;
    margin: 100px 10%;
    /* border: 1px solid; */
    width: 80%;
}

.slider-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 554px;
}

/* 较宽焦点图居中 */
.slider-content li {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}

/* 翻页条样式设置 */
#slider-nav {
    display: block;
    /* padding: 7px 8px; */
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 2022;
    list-style: none;
    width: 100%;
    height: 16px;
    /* background: rgba(255, 255, 255, .2); */
    text-align: center;
    font-size: 0;
    /* margin-left: -50%; */
    transform: translateX(-50%);
}

/* 焦点图下方圆形翻页按钮设置 */
#slider-nav li {
    display: inline-block;
    overflow: hidden;
    list-style: none;
    margin-left: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: rgba(0, 0, 0, .25);
    cursor: pointer;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
}



#slider-nav li.on {
    background: #f30;
}


/* 翻页两侧的按钮 */

.btn-turn-page {
    position: absolute;
    top: 50%;
    z-index: 2022;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    outline: 0;
    background-color: rgba(31, 45, 61, .30);
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, .5);
    transform: translateY(-50%);
    transition: .3s;
}

.btn-turn-page[disabled] {
    cursor: not-allowed !important;
}

.btn-turn-page.prev {
    left: 20px;
}

.btn-turn-page.next {
    right: 20px;
}

.btn-turn-page:hover {
    background-color: rgba(31, 45, 61, .40);
    color: rgba(255, 255, 255, .8);
}


/* 党的历程卡片 */
.history-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    width: 100%;
}


.history-cards .my-card {
    flex: 1;
    border-radius: 10px;
    /* border: 1px solid; */
    height: 420px;
    background-color: #fff;
    cursor: pointer;
    transition: .5s;
}

.my-card:nth-child(n + 2) {
    margin-left: 16px;
}

.history-cards .my-card:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, .25);
    transform: translateY(-1%);
}


.history-cards .my-card.space:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, .25);
    transform: translateY(0);
}

.my-card__content {
    position: relative;
    height: 100%;
}

.my-card__content__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 50%;
}

.my-card__content__img.pic1 {
    background: url("../images/index/history-1.jpg") no-repeat;
    background-size: cover;
}

.my-card__content__img.pic2 {
    background: url("../images/index/history-2.png") no-repeat;
    background-size: cover;
}

.my-card__content__img.pic3 {
    background: url("../images/index/history-3.jpg") no-repeat;
    background-size: cover;
}

.my-card__content__img.pic4 {
    background: url("../images/index/history-4.jpg") no-repeat;
    background-size: cover;
}

.my-card__content__img.video1 {
    background: url("../images/videos/juexingshidai.webp") no-repeat;
    background-size: cover;
}

.my-card__content__img.video2 {
    background: url("../images/index/naniannatu.webp") no-repeat;
    background-size: cover;
}

.my-card__content__btn {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 10px;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(245, 13, 13);
    box-shadow: 0 0 12px rgba(245, 13, 13, .85);
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

.my-card__content__text {
    padding: 20px 6px 6px 6px;
    text-align: center;
    /* padding: 18px 6px; */
    font-size: 14px;
    color: #737373;
}
